.sign-in-content {
	text-align: center;
	padding-top: 48px;
	padding-bottom: 78px;
	@media (max-width: 768px) {
		padding-top: 24px;
		padding-bottom: 38px;
	}
	&__title {
		margin-bottom: 40px;
		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}
	&__email {
		margin-bottom: 14px;
	}
	&__password {
	}
	&__forgot-password {
		margin-bottom: -8px;
	}
	&__enter {
	}
	&__registration {
	}
}
