@use "../../settings/variables.scss" as *;

.contact-icons {
	display: flex;
	column-gap: 10px;
	&__item {
		width: 31px;
		height: 31px;
		background-color: $color_primary;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	}
	&__link {
		line-height: 0;
	}
	&__icon {
		width: 17px;
		height: 17px;
		fill: $white;
	}
}
