@use "../../settings/variables.scss" as *;

.menu-footer {
	display: flex;
	align-items: center;
	column-gap: 56px;
	&__item {
		color: $text_primary;
		cursor: pointer;
		transition: color 0.3s ease;
		&:hover {
			color: $color_secondary;
		}
		&_active {
			color: $color_primary;
		}
	}
	&__link {
		font-weight: 600;
		font-size: 15px;
		letter-spacing: 1%;
		color: inherit;
	}
}
