@use "../../settings/variables.scss" as *;

.not-found-content {
	padding-top: 32px;
	padding-bottom: 32px;
	margin-inline: auto;
	&__img {
	}
	&__text {
		font-size: 18px;
		line-height: 30px;
		letter-spacing: 1%;
	}
	&__link {
		width: 332px;
	}
}
