{% macro contactIcons() %}
  <ul class="contact-icons">
    <li class="contact-icons__item">
      <a class="contact-icons__link" href="#!">
        <svg class="contact-icons__icon">
          <use href="/images/sprites.svg#viber-icon"></use>
        </svg>
      </a>
    </li>

    <li class="contact-icons__item">
      <a class="contact-icons__link" href="#!">
        <svg class="contact-icons__icon">
          <use href="/images/sprites.svg#telegram-icon"></use>
        </svg>
      </a>
    </li>
 
    <li class="contact-icons__item">
      <a class="contact-icons__link" href="#!">
        <svg class="contact-icons__icon">
          <use href="/images/sprites.svg#whatsapp-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
{% endmacro %}
