{# logoPath - 1: /black-seas-nut/  2: #go-to-top  #}
{# classLogo - 2: logo_burger   #}

{% macro logo( logoPath, classLogo ) %}
  <a class="logo {{ classLogo }}" href="{{ logoPath }}">
    <img class="logo__img" src="/images/png/logo.png" alt="logo" />
    <p class="logo__text">ОРЕХ ПРИЧЕРНОМОРЬЯ</p>
  </a>
{% endmacro %}
