{# classLogo - 1:logo_menu #}

{% macro logo( classLogo ) %}
  <a class="logo {{ classLogo }}" href="/black-seas-nut/">
    <img class="logo__img" src="images/png/logo.png" alt="logo" />
    <p class="logo__text">ОРЕХ ПРИЧЕРНОМОРЬЯ</p>
  </a>
{% endmacro %}
