{# classMenuFooter - 1: #}

{% macro menuFooter() %}
  <ul class="menu-footer">
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/shop/index.html">Магазин</a>
    </li>
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/wholesales/index.html">Корпоративным клиентам</a>
    </li>
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/payment/index.html">Оплата и доставка</a>
    </li>
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/about/index.html">О производстве</a>
    </li>
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/news/index.html">Новости и статьи</a>
    </li>
    <li class="menu-footer__item">
      <a class="menu-footer__link" href="/black-seas-nut/src/pages/gallery/index.html">Галерея</a>
    </li>
  </ul>
{% endmacro %}
