{# classMenuHeader - 1: #}

{% macro menuHeader() %}
  <ul class="menu-header">
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/shop/">Магазин</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/about/">О производстве</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/payment/">Оплата и доставка</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/wholesales/">Оптовым и корпоративным клиентам</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/news/">Новости и статьи</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/contacts/">Контакты</a>
    </li>
  </ul>
{% endmacro %}
