{# classMenuHeader - 1: #}

{% macro menuHeader() %}
  <ul class="menu-header">
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/shop/index.html">Магазин</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/about/index.html">О производстве</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/payment/index.html">Оплата и доставка</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/wholesales/index.html">Оптовым и корпоративным клиентам</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/news/index.html">Новости и статьи</a>
    </li>
    <li class="menu-header__item">
      <a class="menu-header__link" href="/black-seas-nut/src/pages/contacts/index.html">Контакты</a>
    </li>
  </ul>
{% endmacro %}
