{% macro socialIcons() %}
  <ul class="social-icons">
    <li class="social-icons__item">
      <a class="social-icons__link" href="#!">
        <svg class="social-icons__icon">
          <use href="images/sprites.svg#facebook-icon"></use>
        </svg>
      </a>
    </li>

    <li class="social-icons__item">
      <a class="social-icons__link" href="#!">
        <svg class="social-icons__icon">
          <use href="images/sprites.svg#instagram-icon"></use>
        </svg>
      </a>
    </li>

    <li class="social-icons__item">
      <a class="social-icons__link" href="#!">
        <svg class="social-icons__icon">
          <use href="images/sprites.svg#youtube-icon"></use>
        </svg>
      </a>
    </li>
  </ul>
{% endmacro %}
