{% macro oneNewsCard( imgPath ) %}
  <div class="one-news-card">
    <img
      class="one-news-card__img"
      src="{{ imgPath }}"
      alt="one news card" />
    <p class="one-news-card__date">12.04.2019</p>
    <h5 class="one-news-card__title">Центр поддержки экспорта, в студии Павел Тулба</h5>
    <div class="one-news-card__read">
      <!-- read() -->
    </div>
  </div>
{% endmacro %}
