@use "../settings/variables.scss" as *;

.galleries {
	&__top {
		display: flex;
		justify-content: space-between;
		column-gap: 31px;
		margin-bottom: 31px;
		@media (max-width: 1024px) {
			flex-direction: column;
			align-items: center;
			row-gap: 16px;
			margin-bottom: 16px;
		}
		&_reverse {
			flex-direction: row-reverse;
		}
	}
	&__middle {
		margin-bottom: 31px;
		@media (max-width: 1024px) {
			margin-bottom: 16px;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		column-gap: 31px;
		margin-bottom: 31px;
		@media (max-width: 1024px) {
			flex-direction: column;
			align-items: center;
			row-gap: 16px;
			margin-bottom: 16px;
		}
	}
}
