@use "../settings/variables.scss" as *;

.personal-account-top {
	padding-top: 48px;
	padding-bottom: 37px;
	display: flex;
	align-items: baseline;
	@media (max-width: 900px) {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 16px;
	}
	&__title {
		margin-right: 78px;
	}
	&__manager-info {
		flex-grow: 1;
		&-text {
			line-height: 12px;
			letter-spacing: 0%;
		}
		&-phone {
			font-family: "Montserrat", sans-serif;
			font-weight: 600;
			font-size: 14px;
			line-height: 32px;
			letter-spacing: 1%;
			color: $color_primary;
			&-icon {
				width: 12px;
				height: 12px;
				fill: $color_primary;
				margin-right: 4px;
			}
		}
	}
	&__discount {
		font-family: "Montserrat", sans-serif;
		font-weight: 600;
		font-size: 16px;
		letter-spacing: 0%;
		color: $color_primary;
	}
}

.personal-account-bottom {
	padding-bottom: 63px;
	display: grid;
	grid-template-columns: minmax(auto, 330px) 1fr;
	@media (max-width: 900px) {
		padding-bottom: 32px;
		display: block;
		row-gap: 32px;
	}
	&__navigation {
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		line-height: 32px;
		letter-spacing: 1%;
		margin-bottom: 14px;
	}
	&__list {
		margin-bottom: 33px;
	}
	&__item {
		width: max-content;
		margin-bottom: 6px;
		border-bottom: 2px solid transparent;
		transition: color 0.3s ease, border 0.3s ease;
		&:hover {
			color: $color_secondary;
			border-bottom: 2px solid $color_secondary;
		}
		&_active {
			font-weight: 600;
			color: $color_primary;
			border-bottom: 2px solid $color_primary;
		}
	}
	&__link {
		line-height: 20px;
		letter-spacing: 1%;
		color: inherit;
	}
}
