@use "./variables.scss" as *;

body {
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	font-size: 16px;
	color: $text_primary;
}

.container {
	max-width: calc($container-width + 2 * $container-padding);
	padding-inline: $container-padding;
	margin-inline: auto;
}
