$container-width: 1290px;
$container-padding: 12px;

$color_primary: #337d5a;
$color_secondary: #93b474;
$color_border: #00000026;
$color_border_8: #00000014;
$color_hover: #337d5a1a;

$text_primary: #1a2f3f;
$text_secondary: #8a8a8a;
$text_danger: #e55c5c;
$white: #fff;

$background_gray: #fbfbfb;

$eclipse: linear-gradient(rgba(0, 0, 0, 0.3), transparent, rgba(0, 0, 0, 0.5));
