{# classLink - 1: "link_green"  2: "link_transparent" 3: "link_empty" #}
{# classLink - 4: "link_fs13"  5: "link_fs14"  6: "link_fs15"  7: "link_fs16" #}

{% macro link( title, classLink, pathLink ) %}
  <a class="link {{ classLink }}" href="{{ pathLink }}">
    <span class="link__title">{{ title }}</span>
  </a>
{% endmacro %}
