{% macro play() %}
  <button class="play">
    <svg class="play__icon">
      <use
        class="play__use"
        href="/images/sprites.svg#play-icon"
        data-play="play-icon"
        data-stop="stop-icon"></use>
    </svg>
  </button>
{% endmacro %}
