{# playId - 1: play_banner 2: play_manufacturer #}

{% macro play( playId ) %}
  <button class="play" id="{{ playId }}">
    <svg class="play__icon">
      <use
        class="play__use"
        href="/images/sprites.svg#play-icon"
        data-play="play-icon"
        data-stop="stop-icon"></use>
    </svg>
  </button>
{% endmacro %}
