{# heading - 1: h1  2: h2 #}
{# classTitle - 1: title_h1  2: title_h2  3: title_white #}

{% macro title( heading, classTitle, title ) %}
  <{{ heading }} class="title {{ classTitle }}">{{ title }}</{{ heading }}>
{% endmacro %}
