@use "../../settings/variables.scss" as *;

.manufacturer-slider {
	position: relative;
	max-width: 700px;
	margin: 0 auto;
	overflow: hidden;
	& .swiper-wrapper {
		align-items: center;
	}
	&__slide {
		width: 100%;
		overflow: hidden;
	}
	&__nav-button {
		position: absolute;
		bottom: 6px;
		width: 70px;
		height: 56px;
		background-color: $color_primary;
		z-index: 300;
		cursor: pointer;
		@media (max-width: 1200px) {
			bottom: 4px;
		}
		@media (max-width: 768px) {
			display: none;
		}
		&:active {
			background-color: $color_secondary;
		}
		&.swiper-button-disabled .manufacturer-slider__nav-button-icon {
			fill: #c4c4c4;
		}
		&-icon {
			width: 22px;
			height: 19px;
			fill: $white;
			transform: translate(0, 2px);
		}
		&_prev {
			left: 0px;
		}
		&_next {
			left: 70px;
		}
	}
	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-44%, -41%);
		z-index: 300;
		visibility: visible;
		opacity: 1;
		transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;
		@media (max-width: 768px) {
			display: none;
		}
		&_onplay {
			visibility: hidden;
			opacity: 0;
		}
	}
	&__eclipse {
		position: absolute;
		top: 8.4%;
		left: 0;
		right: 0;
		width: 100%;
		height: 82.5%;
		object-fit: cover;
		background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent, rgba(0, 0, 0, 0.4));
		opacity: 0;
		transition: opacity 0.3s ease;
		pointer-events: none;
		&_onplay {
			opacity: 1;
			z-index: 250;
		}
	}
}
