@use "../../settings/variables.scss" as *;

.one-news-card {
	width: 220px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: column;
	&__img {
		margin-bottom: 16px;
	}
	&__date {
		font-family: "Montserrat", sans-serif;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 1%;
		color: $text_secondary;
		margin-bottom: 6px;
	}
	&__title {
		font-weight: 700;
		font-size: 15px;
		line-height: 20px;
		letter-spacing: 1%;
		margin-bottom: 6px;
	}
	&__read {
	}
}
