@use "../../settings/variables.scss" as *;

.product-card {
	position: relative;
	width: 100%;
	border: 2px solid $color_border_8;
	overflow: hidden;
	transition: border 0.2s ease-out;
	@media (max-width: 768px) {
		width: unset;
		max-width: 410px;
		width: 100%;
	}
	&__link {
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
	}
	&__slider {
		width: 100%;
		height: 278px;
		background-color: #fcfcfc;
		overflow: hidden;
		.swiper-slide {
			display: grid;
			place-items: center;
		}
	}
	&__nav-button {
		position: absolute;
		top: 141px;
		visibility: hidden;
		opacity: 0;
		cursor: pointer;
		z-index: 300;
		transition: visibility 0.2s ease-out, opacity 0.2s ease-out;
		&.swiper-button-disabled .product-card__nav-button-icon {
			fill: #c4c4c4;
		}
		&-icon {
			width: 23px;
			height: 20px;
			fill: $color_primary;
		}
		&_prev {
			left: 16px;
		}
		&_next {
			right: 16px;
		}
	}
	&__search {
		position: absolute;
		top: 122px;
		left: 50%;
		transform: translateX(-53%);
		visibility: hidden;
		opacity: 0;
		transition: background-color 0.2s ease-out, visibility 0.2s ease-out, opacity 0.2s ease-out;
		z-index: 300;
		@media (max-width: 768px) {
			display: none;
		}
	}
	&__content {
		padding: 20px 22px 13px 21px;
		letter-spacing: 1%;
	}
	&__title {
		font-weight: 700;
		font-size: 18px;
		letter-spacing: -1%;
		margin-bottom: 6px;
	}
	&__art {
		font-family: "Montserrat", sans-serif;
		font-size: 15px;
		color: $text_secondary;
		margin-bottom: 11px;
	}
	&__tags {
		max-width: 300px;
		font-weight: 600;
		line-height: 20px;
		margin-bottom: 14px;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-right: 10px;
		&-item {
			display: flex;
			align-items: center;
		}
		&-icon {
			width: 18px;
			height: 18px;
			fill: $color_primary;
			margin-right: 9px;
		}
		&-list {
			font-family: "Montserrat", sans-serif;
			font-size: 14px;
			letter-spacing: 1%;
		}
		&-term {
			font-weight: 500;
			color: $text_secondary;
		}
		&-definition {
			font-weight: 600;
			color: $color_primary;
		}
	}
	&__hr {
		width: 116%;
		margin-top: 19px;
		margin-bottom: 13px;
		border: 1px solid $color_border_8;
		transform: translate(-21px, 0px);
	}
	&__bottom {
		font-family: "Montserrat", sans-serif;
		letter-spacing: 1%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&-price {
			font-weight: 600;
			font-size: 15px;
		}
		&-cost {
			font-size: 20px;
			color: $color_primary;
			margin-left: 4px;
		}
		&-cost-ua {
			font-size: 13px;
		}
		&-discount {
			font-weight: 500;
			font-size: 16px;
			margin-left: 8px;
			color: $text_secondary;
			text-decoration: line-through;
		}
		&-discount-ua {
			font-size: 13px;
		}
		&-button {
			width: 124px;
		}
	}
	&__promotion-new {
		position: absolute;
		top: 20px;
		left: 0px;
		z-index: 100;
		&-icon {
			width: 82px;
			height: 32px;
			&_red {
				fill: #dd133b;
			}
			&_orange {
				fill: #e1843e;
			}
		}
		&-text {
			font-weight: 800;
			font-size: 10px;
			letter-spacing: 6%;
			color: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-56%, -83%);
		}
	}
	&:hover {
		border: 2px solid $color_secondary;
		.product-card__nav-button {
			visibility: visible;
			opacity: 1;
		}
	}
}
