@use "../../settings/variables.scss" as *;

.news-article {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 50px;
	@media (max-width: 1140px) {
		flex-direction: column-reverse;
		row-gap: 50px;
	}
	&__img {
		min-width: 0;
	}
	&__content {
		width: 391px;
		flex-shrink: 0;
		text-align: start;
		display: flex;
		flex-direction: column;
		row-gap: 16px;
		@media (max-width: 768px) {
			width: unset;
			max-width: 391px;
		}
	}
	&__date {
		font-family: "Montserrat", sans-serif;
		font-size: 13px;
		line-height: 22px;
		letter-spacing: 1%;
		color: $text_secondary;
	}
	&__title {
		font-weight: 700;
		font-size: 22px;
		line-height: 26px;
		letter-spacing: 1%;
	}
	&__text {
		line-height: 25px;
	}
	&__read {
	}
}
