@use "../../settings/variables.scss" as *;

.shop-products {
	padding-top: 24px;
	padding-bottom: 96px;
	&__products {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 50px 28px;
		margin-bottom: 71px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
			gap: 16px 16px;
		}
		@media (max-width: 768px) {
			grid-template-columns: repeat(1, minmax(0, 1fr));
		}
	}
	&__link {
		width: 200px;
		margin-inline: auto;
	}
}
