@use "../../settings/variables.scss" as *;

.produce-image {
	position: relative;
	height: 740px;
	@media (max-width: 1920px) {
		height: unset;
		width: 100%;
		aspect-ratio: 16 / 9;
		max-height: 740px;
		overflow: hidden;
	}
	&__img {
		display: block;
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	&__content {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translate(-8px, -59%);
		display: flex;
		flex-direction: column;
		row-gap: 20px;
		z-index: 200;
		@media (max-width: 768px) {
			row-gap: 8px;
			transform: translate(-8px, -52%);
		}
	}
	&__icon {
		width: 70px;
		height: 74px;
		fill: $white;
		margin-inline: auto;
		margin-bottom: 28px;
		transform: translate(9px, 0px);
		@media (max-width: 768px) {
			width: 40px;
			height: 44px;
			margin-bottom: 0px;
		}
	}
	&__title {
	}
	&__text {
		max-width: 700px;
		padding-inline: 12px;
		margin-inline: auto;
		transform: translate(12px, 0px);
	}
}
