{% macro tags() %}
  <div class="tags">
    <div class="tags__item">
      <p class="tags__title">240<sup class="tags__mark">Га</sup></p>
      <p class="tags__text">Cмешанных</p>
      <p class="tags__text">садов</p>
    </div>
    <div class="tags__item">
      <p class="tags__title">1<sup class="tags__mark">Га</sup></p>
      <p class="tags__text">Тепличного</p>
      <p class="tags__text">комплекса</p>
    </div>
    <div class="tags__item">
      <p class="tags__title">10<sup class="tags__mark">Га</sup></p>
      <p class="tags__text">Первая промышленная плантация</p>
      <p class="tags__text">шиповника в Украине</p>
    </div>
    <div class="tags__item">
      <p class="tags__title">80<sup class="tags__mark">%</sup></p>
      <p class="tags__text">Приживаемости</p>
      <p class="tags__text">саженцев</p>
    </div>
  </div>
{% endmacro %}
