@use "../settings/variables.scss" as *;

.input-wrapper {
	position: relative;
}

.input {
	width: 100%;
	height: 48px;
	padding-left: 16px;
	padding-right: 32px;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: $text_primary;
	background-color: $white;
	border: 1px solid $color_border;
	&:hover {
		background-color: $color_hover;
	}
	&:focus {
		border: 2px solid $color_primary;
	}
	&_error {
		color: $text_danger;
		border: 2px solid $text_danger;
	}
	&:-webkit-autofill {
		-webkit-text-fill-color: $text_primary;
	}
	&::-webkit-input-placeholder {
		color: $text_primary;
	}
	&::-moz-placeholder {
		color: $text_primary;
	}
	&:-ms-input-placeholder {
		color: $text_primary;
	}
	&:-moz-placeholder {
		color: $text_primary;
	}
}

.validation {
	position: absolute;
	top: 52px;
	left: 16px;
	font-size: 14px;
	font-weight: 500;
	&_error {
		color: $text_danger;
	}
}
