@use "../settings/variables.scss" as *;

.title {
	font-family: "Raleway", sans-serif;
	&_h2 {
		font-weight: 800;
		font-size: 45px;
		@media (max-width: 768px) {
			font-size: 35px;
		}
		@media (max-width: 420px) {
			font-size: 25px;
		}
	}
	&_white {
		color: $white;
	}
}
