@use "../settings/variables.scss" as *;

.title {
	font-family: "Raleway", sans-serif;
	&_h1 {
		font-weight: 800;
		font-size: 62px;
		letter-spacing: 1%;
		@media (max-width: 1024px) {
			font-size: 52px;
		}
		@media (max-width: 768px) {
			font-size: 36px;
		}
		@media (max-width: 420px) {
			font-size: 28px;
		}
	}
	&_h2 {
		font-weight: 800;
		font-size: 45px;
		@media (max-width: 1024px) {
			font-size: 38px;
		}
		@media (max-width: 768px) {
			font-size: 32px;
		}
		@media (max-width: 420px) {
			font-size: 25px;
		}
	}
	&_white {
		color: $white;
	}
}
