{# main - "/images/jpg/top/main.jpg", "/videos/main-top.mp4" #}

{% macro bannerVideo( posterPath, videoPath ) %}
  <video class="banner-video" preload="metadata" poster="{{ posterPath }}" muted loop>
    <source src="{{ videoPath }}" type="video/mp4" />
  </video>

  <div class="banner-content">
    <div class="banner-content__title">
      <!-- title( heading, classTitle, title ) -->
      {% from "src/partials/ui/title.njk" import title %}
      {{ title( "h1", "title_h1 title_white", "Орех Причерноморья") }}
    </div>
    <div class="banner-content__text">
      <!-- text( classText, text ) -->
      {% from "src/partials/ui/text.njk" import text %}
      {{ text( "text_top text_white", "Единственный в Украине сад совместного выращивание фундука и грецкого ореха") }}
    </div>
    <div class="banner-content__button">
      <!-- play( playId ) -->
      {% from "src/partials/ui/play.njk" import play %}
      {{ play( "play_banner" ) }}
    </div>
  </div>

  <div class="banner-eclipse"></div>
{% endmacro %}
