{# classGalleriesTop - 1: galleries__top_reverse #}

{% macro galleries( classGalleriesTop ) %}
  <div class="galleries">
    <div class="galleries__top {{ classGalleriesTop }}">
      <!-- galleryCard( classGalary, imagePath, title, iconId ) -->
      {% from "src/partials/components/cards/gallery-card.njk" import galleryCard %}
      {{ galleryCard( "galery-card_large", "/images/jpg/galery/galery-large.jpg", "SIAL Paris 2018") }}
      {{ galleryCard( "galery-card_medium", "/images/jpg/galery/galery-medium.jpg", "SIAL Paris 2018") }}
    </div>

    <div class="galleries__middle">
      <!-- galleryCardVideo() -->
      {% from "src/partials/components/cards/gallery-card-video.njk" import galleryCardVideo %}
      {{ galleryCardVideo() }}
    </div>

    <div class="galleries__bottom">

      {{ galleryCard( "galery-card_small", "/images/jpg/galery/galery-small_1.jpg") }}
      {{ galleryCard( "galery-card_small", "/images/jpg/galery/galery-small_2.jpg") }}
      {{ galleryCard( "galery-card_small-video", "/images/jpg/galery/galery-small_3.jpg", "Проект UBHDP") }}
    </div>
  </div>
{% endmacro %}
